# log files
logs
*.log

# Git files
.git/
.gitignore

# testing/linting files
test/
.eslintignore
.eslintrc.json
.eslintcache

# env vars
*.env
codeship.aes

# npm files
.npmignore

# IDE files
.editorconfig
